<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Delete Customer</title>
</head>
<body>
<h3>Delete Customer</h3>
<form action="/deletecustomer" method="post">
<pre>
Customer Email ID :    <input type="email" name="email" />
    <input type="submit" value="Delete Customer"/>
     <input type="reset" value="Clear"/>
     <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
</pre>
</form>
<!--<button onclick="myfunction1()">Total Bank Balance</button>
<script>function myfunction1(){
	location.replace("emp/gettotalpage")
}
</script>
<button onclick="myfunction2()">Customer Details</button>
<script>function myfunction2(){
	location.replace("emp/paginationpage")
}
</script>-->
<button onclick="myfunction3()">Home Page</button>
<script>function myfunction3(){
	location.replace("/emp")
}
</script>
<div th:text="${message}"></div>
<a th:href="@{/logout}">Logout</a>
</body>
</html>