<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Show Balance</title>
</head>
<body>
<h3>Show Balance</h3>
<form action="/getbalance" method="get">
<pre>

Account Number :    <input type="number" name="accountnumber"/>
    <input type="submit" value="submit"/>
     <input type="reset" value="Clear"/>

</pre>
</form>

<button onclick="myfunction1()">Home Page</button>
<script>function myfunction1(){
	location.replace("/customer")
}
</script>
<!--<button onclick="myfunction2()">Deposit Amount</button>
<script>function myfunction2(){
	location.replace("customer/getdepositpage")
}
</script>
<button onclick="myfunction3()">Withdraw Amount</button>
<script>function myfunction3(){
	location.replace("customer/getwithdrawpage")
}
</script>-->

<div th:text="${message}"></div>
<a th:href="@{/logout}">Logout</a>
</body>
</html>